<div class="container">
  <h1>Angular 12 CRUD Example - ItSolutionStuff.com</h1>

  <a href="#" routerLink="/conflict-metadata-rule/create" class="btn btn-success">Create New Rule</a>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let rule of rules">
      <td>{{ rule.id }}</td>
      <td>{{ rule.title }}</td>
      <td>{{ rule.body }}</td>
      <td>
        <a href="#" [routerLink]="['/conflict-metadata-rule/', rule.id, 'view']" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/conflict-metadata-rule/', rule.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteRule(rule.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>
