<div class="mat-elevation-z8">
  <form [formGroup]="searchForm" (ngSubmit)="searchRules()">
    <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Alert Id</mat-label>
          <input matInput placeholder="Search by Alert #" formControlName="alertId">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Field Name</mat-label>
          <input matInput placeholder="Search by Field Name" formControlName="fieldName">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="basic">
          Search Rules <mat-icon>search</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </form>

  <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>

  <div *ngIf="rules">
    <mat-table [style.display]="loading === false ? 'block' : 'none'" #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="prog_rule_sgk">
        <mat-header-cell *matHeaderCellDef >Rule Id</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [href]="'conflict-metadata-rule/'+element.prog_rule_sgk+'/view'">{{element.prog_rule_sgk}}</a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="alert_id">
        <mat-header-cell *matHeaderCellDef >Alert Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.alert_id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="field_name">
        <mat-header-cell *matHeaderCellDef>Field Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.field_name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="conflict_code">
        <mat-header-cell *matHeaderCellDef>Conflict Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.conflict_code}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="supress_message">
        <mat-header-cell *matHeaderCellDef>Suppress</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.supress_message}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eff_start_dt">
        <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.eff_start_dt}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="eff_end_dt">
        <mat-header-cell *matHeaderCellDef>End Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.eff_end_dt}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="active_ind">
        <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.active_ind}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-button color="basic"
            (click)="deleteRule(element.prog_rule_sgk)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button color="basic" (click)="editRule(element.prog_rule_sgk)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
  </div>
  <div *ngIf="!rules">
    No Record found
  </div>
</div>
