<div class="container p-3">
  <div class="row pb-2">
    <div class="col-10 text-left"><h4>Suppress Rule Detail</h4></div>
    <div class="col-2">
      <a
        href="#"
        routerLink="/conflict-metadata-rule/index"
        class="btn btn-primary"
        >Back to Rules</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-6">Rule Id:</div>
    <div class="col-6">{{ rule.prog_rule_sgk }}</div>
  </div>
  <div class="row">
    <div class="col-6">Alert Id:</div>
    <div class="col-6">{{ rule.alert_id }}</div>
  </div>
  <div class="row">
    <div class="col-6">Field Name:</div>
    <div class="col-6">{{ rule.field_name }}</div>
  </div>
  <div class="row">
    <div class="col-6">Conflict Code:</div>
    <div class="col-6">{{ rule.conflict_code }}</div>
  </div>
  <div class="row">
    <div class="col-6">Supress:</div>
    <div class="col-6">{{ rule.supress_message }}</div>
  </div>
  <div class="row">
    <div class="col-6">Reason:</div>
    <div class="col-6">{{ rule.suppress_reason }}</div>
  </div>
  <div class="row">
    <div class="col-6">Message:</div>
    <div class="col-6">{{ rule.message_copy }}</div>
  </div>
  <div class="row">
    <div class="col-6">Start Date:</div>
    <div class="col-6">{{ rule.eff_start_dt }}</div>
  </div>
  <div class="row">
    <div class="col-6">End Date:</div>
    <div class="col-6">{{ rule.eff_end_dt }}</div>
  </div>
  <div class="row">
    <div class="col-6">Email Id:</div>
    <div class="col-6">{{ rule.email_ids }}</div>
  </div>
</div>
