<mat-card>
  <mat-card-header>
    <mat-card-title>Rule Details</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding-left: 10px">
    <mat-list>
      <mat-list-item><label>Rule Id: </label>{{ rule.prog_rule_sgk }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Alert Id: </label>{{ rule.alert_id }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Field Name: </label>{{ rule.field_name }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Conflict Code: </label>{{ rule.conflict_code }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Supress: </label>{{ rule.supress_message }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Reason: </label>{{ rule.suppress_reason }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Message: </label>{{ rule.message_copy }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Start Date: </label>{{ rule.eff_start_dt }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>End Date: </label>{{ rule.eff_end_dt }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><label>Email Ids: </label>{{ rule.email_ids }}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
